<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="adab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adab"
        tools:targetApi="31">

        <activity android:name="hafez.GhasaidListActivity"
            android:exported="false"/>

        <activity android:name="hafez.GhasaidDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.GhitaatDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.GhitaatListActivity"
            android:exported="false"/>

        <activity android:name="hafez.MasnaviListActivity"
            android:exported="false"/>

        <activity android:name="hafez.MasnaviDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.MontasabListActivity"
            android:exported="false"/>

        <activity android:name="hafez.MontasabDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.RubaiyatListActivity"
            android:exported="false"/>

        <activity android:name="hafez.SaghinamehListActivity"
            android:exported="false"/>

        <activity android:name="hafez.SaghinamehDetailActivity"
            android:exported="false"/>

        <activity android:name="favorits.FavoritesActivity"
            android:exported="false"/>

        <activity android:name="hafez.RubaiyatDetailActivity"
            android:exported="false"/>




        <activity android:name=".PoemDetailActivity"
            android:exported="false"/>

        <activity android:name="search.SearchResultsActivity"
            android:exported="false"/>

        <activity
            android:name="hafez.GhazalDetailActivity"
            android:exported="false" />
        <activity
            android:name="hafez.HafezBioActivity"
            android:exported="false" />
        <activity
            android:name="hafez.GhazalListActivity"
            android:exported="false" />
        <activity
            android:name="hafez.HafezActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="saadi.SaadiActivity"
            android:exported="false" />
        <activity android:name="saadi.DivanListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.GulistanDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.RasaelDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.MajalesDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhazalListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiRubaiyatListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhitaatListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiMalhaghatListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiTarjibandListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhazalDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiRubaiyatDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhitaatDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiMalhaghatDetailActivity"
            android:exported="false"/>



        <activity
            android:name=".MolaviActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>