<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="adab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adab"
        tools:targetApi="31">

        <activity android:name="hafez.GhasaidListActivity"
            android:exported="false"/>

        <activity android:name="hafez.GhasaidDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.GhitaatDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.GhitaatListActivity"
            android:exported="false"/>

        <activity android:name="hafez.MasnaviListActivity"
            android:exported="false"/>

        <activity android:name="hafez.MasnaviDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.MontasabListActivity"
            android:exported="false"/>

        <activity android:name="hafez.MontasabDetailActivity"
            android:exported="false"/>

        <activity android:name="hafez.RubaiyatListActivity"
            android:exported="false"/>

        <activity android:name="hafez.SaghinamehListActivity"
            android:exported="false"/>

        <activity android:name="hafez.SaghinamehDetailActivity"
            android:exported="false"/>

        <activity android:name="favorits.FavoritesActivity"
            android:exported="false"/>

        <activity android:name="hafez.RubaiyatDetailActivity"
            android:exported="false"/>




        <activity android:name=".PoemDetailActivity"
            android:exported="false"/>

        <activity android:name="search.SearchResultsActivity"
            android:exported="false"/>

        <activity
            android:name="hafez.GhazalDetailActivity"
            android:exported="false" />
        <activity
            android:name="hafez.HafezBioActivity"
            android:exported="false" />
        <activity
            android:name="hafez.GhazalListActivity"
            android:exported="false" />
        <activity
            android:name="hafez.HafezActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="saadi.SaadiActivity"
            android:exported="false" />
        <activity android:name="saadi.DivanListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanDetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanNiyayeshListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanNiyayeshDetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab1ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab1DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab2ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab2DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab3ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab3DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab4ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab4DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab5ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab5DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab6ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab6DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab7ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab7DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab8ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab8DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab9ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab9DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.BustanBab10ListActivity"
            android:exported="false"/>
        <activity android:name="saadi.BustanBab10DetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.GolestanDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.DibacheGolestanActivity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab1Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab2Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab3Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab4Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab5Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab6Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab7Activity"
            android:exported="false"/>
        <activity android:name="saadi.GolestanBab8Activity"
            android:exported="false"/>



        <activity android:name="saadi.RasaelDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.MajalesDetailActivity"
            android:exported="false"/>


        <activity android:name="saadi.MavaezDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezGhazalListActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezGhazalDetailActivity"
            android:exported="false"/>



        <activity android:name="saadi.MavaezQasaedActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezQetaatActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezMarasieActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezMasnaviatActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezRubaiyatActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezArabicActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezMosalasatActivity"
            android:exported="false"/>
        <activity android:name="saadi.MavaezMofradatActivity"
            android:exported="false"/>



        <activity android:name="saadi.SaadiGhazalListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiRubaiyatListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhitaatListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiMalhaghatListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiTarjibandListActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhazalDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiRubaiyatDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiGhitaatDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiMalhaghatDetailActivity"
            android:exported="false"/>
        <activity android:name="saadi.SaadiTarjibandDetailActivity"
            android:exported="false"/>



        <activity
            android:name=".MolaviActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>